.container {
    width: 597px;
    height: 1127px;
    /* border: 2px solid green; */
    /* background: #FFFFFF; */
    /* display: flex;
    justify-content: space-between; */
}

.title {
    display: flex;
    font-size: 36px;
    font-family: 'Roboto Mono', monospace;
    justify-content: space-between;
}


/* .content {
    display: flex;
} */